<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Capstone Project</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body>
  <h1>Aisha's Capstone Project</h1>
  <p>This is a static page for the capstone project from the Udacity full-stack nanodegree program.</p>
  <p>Currently, all the endpoint works without a front-end. Please read the README file </p>
  <h5>Please Log in to copy the JWT from the URL.</h5>
  <div class="container">
   
    <!--This is a bottun to login and get the access token in the URL ,it will redirect to the same page-->
    <a href="https://csfs2020.us.auth0.com/authorize?audience=capstone&response_type=token&client_id=uPpBawdVsYezdJ05l2M1o23Pz9Ye4vDe&redirect_uri= https://capstone-fsns-2020.herokuapp.com" class="btn btn-info">Log in</a>
</div>
</body>


</html>